body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black !important;
    font-family: 'Overpass', sans-serif;
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style-type: none
}

.circle-nav-wrapper {
    position: fixed;
    z-index: 9999999;
    right:  0;
    bottom: 1%;
    width: 100%;
    height: 250px;

}
.tippy-top {

    z-index: 99999999;
}

.circle-nav-wrapper .circle-nav-toggle {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 999999;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    transition: -webkit-transform .2s cubic-bezier(0, 1.16, 1, 1);
    transition: transform .2s cubic-bezier(0, 1.16, 1, 1);
    transition: transform .2s cubic-bezier(0, 1.16, 1, 1), -webkit-transform .2s cubic-bezier(0, 1.16, 1, 1);
    right: calc(50% - 15px);
    bottom: 10px
}

.circle-nav-wrapper .circle-nav-toggle i.material-icons {
    color:white;
}

.circle-nav-wrapper .circle-nav-toggle:focus,
.circle-nav-wrapper .circle-nav-toggle:hover {
    opacity: .8;
    cursor: pointer;
}

.circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
    border: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.circle-nav-wrapper .circle-nav-toggle.circle-nav-open i.material-icons {
    color: #fff;
}

.circle-nav-wrapper .circle-nav-panel {
    width: 0;
    height: 0;
    bottom:0;
    position: fixed;
    background: black;
    transition: 1s all;
}

.circle-nav-wrapper .circle-nav-panel.circle-nav-open {
    width: 100%;
    height: 50px;
    opacity: .7;

    box-shadow: 0px -20px 30px #000000;

}

.circle-nav-wrapper .circle-nav-menu {
    width: 250px;
    height: 250px
}

.circle-nav-wrapper .circle-nav-menu .circle-nav-item {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: 0%;
    width: 0px;
    height: 0px;
    visibility: hidden;
    transition: bottom .5s cubic-bezier(0, 1.16, 1, 1), left .5s cubic-bezier(0, 1.16, 1, 1), width .3s cubic-bezier(0, 1.16, 1, 1), height .3s cubic-bezier(0, 1.16, 1, 1);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    opacity:0;
    overflow: visible;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-1,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-2,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-3,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-4,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-5
 {
    right: 250px;
    bottom: 500px;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-6,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-7,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-8,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-9,
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-10 {
	bottom:500px;
	right:250px;
}

.circle-nav-wrapper .circle-nav-menu .circle-nav-item ul.sublist {
    font-size:12px;
    transition: 250ms all;
    width:100px;
    text-align: center;
    background-color: white;
    padding:5px;
}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-1 ul.sublist {color:#7d002e;margin:-150px 0 0 -200px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-2 ul.sublist {color:#d51d52;margin:-50px 0 0 -200px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-3 ul.sublist {color:#00416b;margin:-100px 0 0 -150px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-4 ul.sublist {color:#3372a9;margin:-150px 0 0 -50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-5 ul.sublist {color:#f15d2a;margin:-175px 0 0 -40px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-6 ul.sublist {color:#dfc723;margin:-175px 0 0 -40px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-7 ul.sublist {color:#007a66;margin:-150px 0 0 50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-8 ul.sublist {color:#4db748;margin:-100px 0 0 50px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-9 ul.sublist {color:#692c7a;margin:-50px 0 0 100px;}
.circle-nav-wrapper .circle-nav-menu .circle-nav-item-10 ul.sublist {color:#dc649c;margin:-50px 0 0 100px;}

.circle-nav-wrapper .circle-nav-menu .circle-nav-item ul.sublist li:hover {color:black;}

.circle-nav-wrapper .circle-nav-menu .circle-nav-item span {
    display: none
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item {
    width: 50px;
    height: 50px;
    visibility: visible;
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item:focus,
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item:hover {
    cursor: pointer;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item {
    font-size: 1.4em;
    bottom:10px;
    opacity:1;
}
.circle-nav-item-1 {background-image:url('../img/1.png');}
.circle-nav-item-2 {background-image:url('../img/2.png');}
.circle-nav-item-3 {background-image:url('../img/3.png');}
.circle-nav-item-4 {background-image:url('../img/4.png');}
.circle-nav-item-5 {background-image:url('../img/5.png');}
.circle-nav-item-6 {background-image:url('../img/6.png');}
.circle-nav-item-7 {background-image:url('../img/7.png');}
.circle-nav-item-8 {background-image:url('../img/8.png');}
.circle-nav-item-9 {background-image:url('../img/9.png');}
.circle-nav-item-10 {background-image:url('../img/10.png');}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-1 {
    left: 7.5%;
    transition-delay: .1s;
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-2 {
    left: 15%;
    transition-delay: .2s
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-3 {
    left: 22.5%;
    transition-delay: .3s
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-4 {
    left: 30%;
    transition-delay: .4s
}

.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-5 {
    left: 37.5%;
    transition-delay: .5s
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-6 {
    right: 37.5%;
    transition-delay: .6s
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-7 {
    right: 30%;
    transition-delay: .7s
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-8 {
    right:22.5%;
    transition-delay: .8s
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-9 {
    right: 15%;
    transition-delay: .9s
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-10 {
    right: 7.5%;
    transition-delay: 1s
}
@keyframes spin {
    0% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
    100% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes spin {
    0% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
    100% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
}
.state_1_overlay {
    position: fixed;
    width:200%;
    height:200%;
    top:-50%;
    left:-50%;
    mix-blend-mode: color;

}
.state_1_overlay object {
    width:100%;
    height:100%;
    margin:0;
    padding:0; 
    transition: 1s all;
    -webkit-transition:1s all;   
    transform: translate(-100%,-100%);
    animation: spin 20s infinite linear;
    -webkit-animation: spin 20s infinite linear;  
}
.container {
    transition: 1s all;
    -webkit-transition:1s all;
}
.hidden {
    opacity:0;
    pointer-events: none;
}
.shown {
    opacity:1;
}
.answer-container {
    position: fixed;
    width:100%;
    height:80%;
    top:5%;
    left:0;
    transition: 1s all;
    background-size:contain;
    background-position: left center;
    z-index: 9999998;

}
.answer-container div {
    width:60%;
    margin:0 auto;
}
.answer-container div h1 {
    text-align: center;
    color:white;
    display:block;   
    vertical-align: bottom;
    font-size:20px;
    font-weight:300;
    transform: translateY(-30px);
}

.answer-container div img {
    display: block;
    height:90%;
    margin:0 auto;

}
#car-container div{
    height:20%;
    padding:0;
}
#commute-container div{}
#people-container div{}
#environ-container div{}
#safety-container div{}
#ethics-container div{}
#money-container div{}
#time-container div{}
#robots-container div{}
#jobs-container div{}

.card-placeholder {
    position: fixed;
    width:40%;
    height:40%;
    top:10%;
    left:5%;
    z-index:999;
    transition: 1s all;
}
.card-placeholder img {
    height:100%;
    display: inline;
}
.selected img{
    -webkit-filter: drop-shadow(0px 0px 2px rgba(255,255,255,0.9));
    drop-shadow(0px 0px 2px rgba(255,255,255,0.9));
}
.container-shift {
    margin:0 0 auto auto !important;
}
#car-container div.smol {
    height:30px;
}
#car-container div.smol img {
    height:30px;
}